.center{
    padding:20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
    max-width: 30%;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    height:fit-content;
    flex-wrap: wrap;
  }

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:50%;
    min-width:300px;
    min-height:300px;
}

.info{
    padding:4px;
    text-align: left;
    width:98%;
    background-color: black;
    color: wheat;
    z-index: -1;
}

.face-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-height: 200px;
}

.face{
    justify-content: center;
    min-height: 100px;
    height:100%;
    margin-bottom: 20%;
}

.name {
    background-color: aliceblue;
    color:black;
    font-size: larger;
    padding: 8px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}