.center{
    padding:20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
    max-width: 30%;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    height:fit-content;
    flex-wrap: wrap;
  }

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    border: solid 2px orange;   
}

.info{
    padding:4px;
    text-align: left;
    width:99%;
    background-color: black;
    color: wheat;
    z-index: -1;
}

.face-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.face{
    justify-content: center;
    height:20%;
    margin-bottom: 50%;
    margin-top:20%;
    margin-left:30%
}

.name {
    background-color: aliceblue;
    color:black;
    font-size: larger;
    padding: 8px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}