.center{
    margin-top: 200px;
    padding:4px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.info{
    margin-top: 70px;
    padding:4px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;   
    
}